.body {
}

.container {
    display: flex;
}

.main {
    background-color: #050231;
    width: calc(100% - 300px);
    height: 2800px;
}

.sidebar {
    background-color: #333333;
    height: 2800px;
    width: 300px;
    position: fixed;
    right: 0px;
}

.nav {
    color:honeydew;
    font-family: fantasy;
    font-size: 2rem;
    text-align: center;
}

.nav a {
    display: block;
    text-decoration: none;
    font-family: fantasy;
    font-size: 2rem;
    text-align: center;
}

.nav li {
    margin: 0 0 -3px;
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-color: aliceblue;
}

.nav a:hover {
    text-decoration: none;
    color:dodgerblue;
}

.content-nav {
    color:aliceblue;
}

.sns-nav {
    color: #e1306c;
}

.sns-bar {
    height: 100vh;
    overflow: auto;
    -ms-text-overflow: none;
    scrollbar-width: none;
    
}

.sns-bar::-webkit-scrollbar {
    display: none;
}

.introduction {
    color: aliceblue;
}

.introduction h2 {
    margin-top: 200px;
}

.title {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 2rem;
    background-color: #333333;
}

.content-main {
    display: flex;
    color: aliceblue;
    justify-content: center;
    gap: 60px;
}

.content-main-education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: fit-content;
    gap: 10px;
    margin: 0 auto;
}

.content-main-education p {
    margin: 15px;
}

.hr-education {
    width: 100%;
}

.item-index {
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.item-index-width {
    width: 150px;
}

.item-index-width p {
    margin-left: auto;
    width: fit-content;
}



form input, form textarea {
    display: block;
    width: 800px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #3e8e41;
}

form textarea {
    height: 200px;
}

#floatingMenu {
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 2;
}

.flObj {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
    gap: 15px;
    transition: all 0.05s ease;
    position: relative;
}

.flObj p {
    margin: 0;
    background: #FFF;
    padding: 6px 20px 6px;
    font-size: 0.85rem;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 22%), 0 0 3px 0 rgb(0 0 0 / 22%), 0 0 3px 0 rgb(0 0 0 / 22%);
    border-radius: 4px;
}

.flObj a {
    background: #365879;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    position: relative;
    font-size: 1.2rem;
}

.flObj.first a:hover, .flObj.second a:hover, .flObj.third a:hover {
    opacity: 0.8;
}

.flObj.first a {
    background-image: url(./image/instagramIcon.png);
    background-size: cover;
}

.flObj.second a {
    background-image: url(./image/twitterIcon.png);
    background-size: cover;
}

.flObj.third a {
    background-image: url(./image/githubIcon.png);
    background-size: cover;
}

.flObj a i {
    color: #FFF;
}

.flObj.bottom a::before {
    content: "\f068";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900;
    color: #FFF;
}

#floatingMenu.notshow {
    gap: 0;
}

div#floatingMenu.notshow > .flObj.first, div#floatingMenu.notshow > .flObj.second, div#floatingMenu.notshow > .flObj.third {
    gap: 0;
    margin-bottom: -58px;
}

div#floatingMenu.notshow > .flObj.first p, div#floatingMenu.notshow > .flObj.second p, div#floatingMenu.notshow > .flObj.third p {
    display: none;
}

div#floatingMenu.notshow .flObj.bottom a::before {
    content: "\f067";
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #40456e;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#loading.loaded {
    opacity: 0;
    visibility: hidden;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #545454;
    transform: translateZ(0);
    animation: loadAnime 1.1s infinite linear;
}

@keyframes loadAnime {
    0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}